body{
    background:url('https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg') repeat-x top
}
h1 {
    margin-left:30px;
    margin-top:40px;
}
.test {
    font-size:10px;
}
.reg-container {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    height:80vh;
    width:500px;
    float:right;
    margin-right:10vw;
    border-radius:20px;
    margin-top:10vh;

}

@media screen and (max-width:800px) {
    .reg-container {
        width:80vw;
        margin-right:10vw;
    }
}
.form-container {
    text-align: initial;
    margin-left:30px;
    width:80%;

}

input {
    width:60%;
    height: 40px;
    margin-top:30px;
    border:none;
    border-radius: 5px;
    margin-left:40px;
    margin-bottom:0;
    margin-right:30px;


}

input:focus:invalid {
    border:1px solid red;
}

input:invalid {
    border:1px solid red;
}




label {
    font-size:20px;
    color: rgb(88, 88, 88);


}
.rows {
    text-align: right;
    height:100px;
    width:100%;

}
p {
    padding:0;
    margin:0;
    margin-top:5px;
    font-size:12px;
    width:300px;
    margin-left:20%;
    color:red;

}
.rows button {
    height:40px;
    width:100px;
    border:none;
    margin-right:30px;
}
